.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  background:black;
  width: 800px;
  height: 500px;
  margin: auto;
}

body {
  font-family: 'Lucida Sans Unicode';
  background-color: black;
}




/* background och huvud div */

.head-div {
  display: flex;
  position: relative;
  top: 100px;
  height: 60px;
  width: 60px;
  background-color: blue;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
}

table {
  margin: 0 auto;
}

.circles {
  margin: -40px 0 25px 0;
  display: flex;
  justify-content: center;
}


/* won? , lose? , draw? */

.message {
  font-size: 17px;
  position: relative;
  top: -360px;
  text-align: center;
  color: white;

}

/* Cicle layout , p1-p2 */

.firstplayer {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 100px;
  transition: background-color 0.5s;
}

.secoundplayer {
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 100px;
  transition: background-color 0.5s;
}

 /* Button layout */


.button {
  font-size: 25px;
  color: black;
  border-style: none;
  position: relative;
  top: 300px;
  left: 200px;
  text-align: center;
  cursor: pointer;

}

.button:hover {
  background-color: grey;
  color: white;
  transition: all 500ms;
}
